label {
    margin: 20px;
}

.choosedate{
    padding: 20px;
}

.contentcontainer{
    display: flex;  
}


.chartcontainer{
    width: 60vw;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    margin: 10px;
    border-radius: 3px;
    width: 60vw;
}

.checkboxes{
    padding: 30px;
}

.transformername{
    padding: 20px;
}