label {
    margin: 20px;
}

.choosedate{
    display: flex;

    margin-bottom: 20px;
}

/* .contentcontainer{
    display: flex;  
    height: calc(100vh - 110px);
    border: 3px solid #ddd;
} */

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chartcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.chartContainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: 10px;
    font-family: Arial, sans-serif;
    height: calc(100vh - 130px);
    
}

.checkboxes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.transformername{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.chartContent {
    flex-grow: 1;
    min-height: 0;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.checkboxInput {
    margin-right: 5px;
}

.loadingMessage, .selectMessage {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}
