table {
    width: 100%;
    border-collapse: collapse; 
}

.tablecontainer{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.768) 0px 4px 12px;
    margin: 10px;
    border-radius: 3px;
    width: 60vw;
    height: calc(100vh - 130px);
    overflow: hidden;
}
.contentcontainer{
    display: flex;  
    overflow-y: scroll;
}

table{
    
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

label {
    margin: 20px;
}

.choosedate{
    padding: 20px;
}