.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.formContainer h2 {
  margin-top: 0;
}

.formContainer form {
  display: flex;
  flex-direction: column;
}

.formContainer input,
.formContainer select {
  margin-bottom: 10px;
  padding: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.buttonGroup button {
  padding: 5px 10px;
}
