.dgaContainer {
  padding: 30px;
  width: 59vw;
  background-color: #FFFFFF;
 
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  border-radius: 8px;
  margin-top: 10px;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.dgaContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasWrapper {
  flex: 1 1 650px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.canvas {
  max-width: 100%;
  height: auto;
  border: 1px solid red;
}

.controlPanel {
  flex: 1 1 300px;
  padding: 20px;
  border: 2px solid black;
  background-color: white;
}

.panelTitle {
  color: #f2f4f7;
  background-color: rgb(115, 72, 184);
  padding: 10px;
  margin: -20px -20px 20px -20px;
  text-align: center;
}

.datePickerWrapper {
  margin-bottom: 20px;
}

.datePicker {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.indexData {
  margin-top: 20px;
}

.diagnosisResult {
  flex-basis: 100%;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .dgaContainer {
    flex-direction: column;
    align-items: center;
  }

  .canvasWrapper, .controlPanel {
    flex-basis: 100%;
    max-width: 100%;
  }
}
